body{
    background-color: chocolate;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex: auto;
}
h1{
    font-family: fantasy;
    font-size: 3em;
    border-bottom: 2px;
    border-left: 2px solid blue;
    width: 400px;
    text-align: center;
}
h1:hower{
    color: red;
}
h2{
    color: blueviolet
}
img{
    width: 450px;
    height: 400px;
}
